<%= simple_form_for(@station) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-imputs">
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :latitude %>
    <%= f.input :longitude %>
    <%= f.input :photo, as: :file %>
  </div>

  <div class="form_actions btn btn-primary">
    <%= f.button :submit %>
  </div>
  <%= link_to 'Volver atrás', root_path %>
<% end %>
