<div class="container my-5 py-3">
  <h1 class="text-center text-primary mb-4">Edita tu compra</h1>

  <div class="row">
    <div class="d-flex justify-content-center">
      <p class="me-1 h5">Estaci贸n de servicio:</p>
      <p class="ms-1"><%= @purchase.gas_station_product.gas_station.name %></p>
    </div>
    <div class="d-flex justify-content-center">
      <p class="me-1 h5">Direcci贸n:</p>
      <p class="ms-1"><%= @purchase.gas_station_product.gas_station.address %></p>
    </div>
  </div>

  <%= simple_form_for(@purchase) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>


    <div class="form-imputs my-3">
      <div class="row">
        <div class="d-flex justify-content-center align-items-center">
          <div class="d-flex flex-column col-2 me-2">
            <% products = @purchase.gas_station_product.gas_station.gas_station_products %>
            <%=  f.association :gas_station_product, collection: products, label_method: :name, input_html: {class: "rounded-5"}, label: "Tipo de Gasolina:" %>
          </div>
          <div class="d-flex flex-column col-2 ms-2">
            <%= f.input :quantity, input_html: {class: "rounded-5"}, label: "Galones:" %>
          </div>
        </div>
      </div>
    </div>

    <div class="text-center">
      <% if user_signed_in? %>
      <div class="form_actions btn btn-primary rounded-5 mb-4">
        <%= f.button :submit, value: 'Actualizar mi compra' %>
      </div>
      <% else %>
      <p>Debe iniciar sesi贸n</p>
        <%= link_to "Iniciar Sesi贸n", new_user_session_path(continue: gas_stations_path), class: "btn btn-primary" %>
      <% end %>
    </div>


  <% end %>
</div>
