<h1>Detalles de tu compra</h1>
<div class="container">
  <p>Estación de servicio: <%= @purchase.gas_station_product.gas_station.name %></p>
  <p>Dirección: <%= @purchase.gas_station_product.gas_station.address %></p>
  <p>Combustible: <%= @purchase.gas_station_product.name %></p>
  <p> Cantidad: <%= @purchase.quantity %> gal</p>
  <p> Total: $ <%= @purchase.amount %></p>
  <button type="button" class="btn btn-primary">Pagar</button>
  <button type="button" class="btn btn-primary">Cancelar compra</button>
  <button type="button" class="btn btn-primary">Editar compra</button>

  <div class="container">
    <% if user_signed_in? == false %>
    <%= link_to "Login", new_user_session_path, class: "nav-link" %>
    <% end %>
  </div>

  <div>
    <%= render "payments/form" %>
  </div>
</div>
