<%= simple_form_for(Payment.new) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-imputs">
    <%= f.input :card_number %>
    <div class="row">
      <div class="d-flex col-6">
        <%= f.input :exp_date %>
      </div>
      <div class="d-flex col-6">
        <%= f.input :cvv %>
      </div>
    </div>
  </div>

  <div class="form_actions btn btn-outline-primary rounded-5 mt-3">
    <%= f.button :submit %>
  </div>
<% end %>
